    /*importando a fonte*/
    @import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
    @import url('https://fonts.googleapis.com/css2?family=Dongle:wght@300;400;700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

    /*colocando a fonte na pagina inteira*/

    body {
        font-family: 'Inter', sans-serif;
        border: 0;
        padding: 0;
        margin: 0;
    }

    /*colocando o background com gradient no header e na home*/

    .sectionprimaria {
        height: 100vh;
        background: linear-gradient(311.76deg, #D4E7FE -15.24%, #FFFFFF 78.85%);
    }

    /*alinhando o header*/

    .header {
        display: flex;
        align-items: center;
        justify-content: space-around;
        padding: 1rem;
        gap: 13rem;
    }

    /*alinhando a logo*/

    .alinharlogo {
        display: flex;
        align-items: center;
        gap: 0.75rem;
    }

    /*estilizando a nav que contem os 4 botoes*/
    nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    nav ul {
        align-items: center;
        display: flex;
        list-style: none;
        gap: 32px;
    }

    li[data-gap="1"] {
        padding-left: 0px;
    }

    li[data-gap="2"] {
        padding-left: 72px;
    }

    li[data-gap="3"] {
        padding-left: 0px;
    }

    li[data-gap="4"] {
        padding-left: 0px;
    }

    .setacommunity {
        padding-bottom: 0.1rem;
    }

    /* estilizando o botao log in */

    .botaonav {
        width: 123px;
        height: 50px;

        background: #217BF4;
        box-shadow: 0px 7px 22px -6px rgba(33, 123, 244, 0.34);
        border-radius: 14px;
        font-family: 'Inter';
        font-weight: 600;
        font-size: 12px;
        line-height: 50px;
        text-align: center;
        color: #FFFFFF;
        text-decoration: none;
    }

    /*alinhando a div pai da home*/

    .home {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    /*dimensionando a imagem da home*/

    .imagemhome {
        width: 585px;
        height: 501px;
    }

    /* editando o 1 botao o titulo o texto e os 2 botoes a baixo do texto */

    .colunadebotoesetitulo {
        height: 366px;
        width: 515px;
    }

    .botaonetcommunity {
        padding: 0.750rem;
        width: 177px;

        background-color: rgba(33, 123, 244, 0.1);
        border-radius: 8px;
        text-decoration: none;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 500;
        font-size: 12px;
        line-height: 12px;
        /* identical to box height, or 100% */
        color: #217BF4;
    }

    .titulohome {
        width: 515px;
        height: 132px;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 700;
        font-size: 56px;
        line-height: 66px;
        /* or 118% */
        color: #0A093D;
    }

    .pdahome {
        padding-bottom: 1.5rem;
    }

    .botaoaboutmore {
        padding: 1.000rem;
        width: 162px;
        height: 62px;
        box-sizing: border-box;
        background: #217BF4;
        box-shadow: 0px 7px 22px -6px rgba(33, 123, 244, 0.34);
        border-radius: 14px;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 31px;
        /* identical to box height, or 100% */
        text-align: center;
        color: #FFFFFF;
        text-decoration: none;
    }

    .invitefriend {
        padding: 1.000rem;
        width: 162px;
        height: 62px;
        box-sizing: border-box;
        background: rgba(33, 123, 244, 0.1);
        box-shadow: 0px 7px 22px -6px rgba(33, 123, 244, 0.34);
        border-radius: 14px;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 31px;
        /* identical to box height, or 100% */
        text-align: center;
        color: #217BF4;
        text-decoration: none;
    }

    .botoeshome {
        display: flex;
        gap: 1.125rem;
    }

    /*estização parte sobre nos */

    #lista {
        list-style: none;
        padding: 0px;
        margin-left: 0px;
    }

    #principal {
        margin-top: 192px;
        margin-left: 135px;
        margin-right: 0px;
        width: 500px;

    }

    #pergunta {
        color: #217BF4;
        font-size: 18px;
        margin-bottom: 15px;
    }

    #titulo {
        color: #0A093D;
        font-size: 36px;
        margin-bottom: 25px;
        margin-top: 0px;
    }

    #paragrafo {
        color: #656464;
        font-size: 16px;
        margin-top: 0px;
        margin-bottom: 40px;
    }

    #lista {
        color: #171648;
        font-size: 18px;
    }

    #li {
        margin-bottom: 16px;
    }

    #imagem-div {
        border-radius: 10px;
        width: 267px;
        height: 252px;
        display: flex;
        flex-direction: column;
        margin-bottom: 30px;

    }

    #div-img {
        justify-content: space-around;
        margin-top: 124px;
        margin-right: 0px;

    }

    #article {
        display: flex;

    }

    #img-centro {
        border-radius: 10px;
        width: 281px;
        height: 422px;

    }

    #centro {
        margin-top: 190px;
        padding-right: 25px;
        padding-left: 175px;

    }

    /* estilizacao parte avaliacoes */

    #div2:hover {
        border: 1px solid #ccc;
        box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
        width: 336px;
        height: 340px;
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .header1 {
        display: flex;
    }

    #estrela {
        width: 22px;
        height: 21px;
        border-radius: 3px;
        padding-left: 47px;
    }

    #perfil {
        width: 60px;
        height: 35px;
        border-radius: 500px;
        margin-left: 44px;
    }

    #titulo {
        color: #0A093D;
        font-size: 20px;
        margin-top: 0px;
        padding-left: 12px;
    }

    .destaque {
        color: #217BF4;
    }

    #subtitulo {
        font-size: 16px;
        color: #5D5B70;
        padding-left: 16px;
    }

    #paragrafo1 {
        font-size: 16px;
        color: #8C8C8C;
        padding-left: 44px;
    }

    #footer2:hover {
        font-size: 16px;
        color: #217BF4;
        padding-left: 44px;
    }

    #sectionavaliacoes {
        display: flex;
        justify-content: center;
        gap: 1rem;
        align-items: center;
        margin-top: 131px;

    }

    #git {
        margin-left: 47px;
        width: 30px;
        height: 30px;
        border-radius: 50px;
        margin-top: 10px;
    }

    #trofeu {
        margin-left: 47px;
        width: 22px;
        height: 21px;
        border-radius: 50px;
    }

    #div2 {
        border: 1px solid #8C8C8C;
        width: 336px;
        height: 340px;
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    #footer2 {
        font-size: 16px;
        color: #4A4A56;
        padding-left: 44px;
    }

    #div3 {
        width: 336px;
        height: 340px;
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    #subtitulo3 {
        font-size: 18px;
        color: #217BF4;
        padding-left: 44px;
    }

    #titulo3 {
        font-size: 26px;
        color: #0A093D;
        padding-left: 44px;
        margin-top: 0px;
    }

    #botao {
        width: 192px;
        height: 58px;
        border-radius: 14px;
        border: none;
        background-color: #217BF4;
        color: white;
        margin-left: 44px;
        margin-top: 18px;
    }

    /*COMUNIDADE STYLE JOAO */


    .comunidade {
        height: 1069px;
        padding-left: 174px;
        padding-right: 174px;
        display: flex;
        flex-direction: column;
        align-items: center;
        background: linear-gradient(0deg, rgba(241, 246, 253, 0) 1.63%, #F1F6FD 20.5%, #F1F6FD 58.57%, #FFFFFF 100%);
    }

    .comunidade__opcoes {
        margin-top: 64px;
    }

    .comunidade__opcao--background {
        width: 522px;
        height: 182px;
        background: #FFFFFF;
        box-shadow: 14px 22px 52px -12px rgba(127, 127, 127, 0.13);
        border-radius: 14px;
        display: flex;
        align-content: space-around;
        transition: all 0.3s;
    }

    .comunidade__opcao--background:hover {
        background-color: rgba(0, 72, 168, 0.10);
    }

    .comunidade__opcao--icone {
        width: 120px;
        height: 120px;
    }

    .comunidade__opcao--organizacao-texto {
        display: flex;
        flex-direction: column;
    }

    .comunidade__opcao--organizacao-itens {
        margin-bottom: 44px;
        gap: 44px;
        display: flex;
    }

    .comunidade__opcao--titulo {
        font-weight: 600;
        font-size: 24px;
        line-height: 26px;
        color: #2F2C4A;
    }

    .comunidade__opcao--texto {
        font-weight: 400;
        font-size: 16px;
        line-height: 26px;
        color: #656464;
        width: 315px;
    }

    .comunidade__titulo--top {
        font-weight: 500;
        font-size: 18px;
        line-height: 18px;
        color: #217BF4;
        margin-top: 60px;
        margin-bottom: 0%;
    }

    .comunidade__titulo--principal {
        font-style: normal;
        font-weight: 700;
        font-size: 36px;
        line-height: 36px;
        color: #0A093D;
        margin-top: 10px;
    }

    .comunidade__titulo--sub-titulo {
        font-weight: 400;
        font-size: 16px;
        line-height: 28px;
        color: #656464;
        text-align: center;
        width: 420px;
    }


    a.extcomunity:link {
        color: #ff0000;
        text-decoration: none;
    }

    a.extcomunity:visited {
        color: black;
        text-decoration: none;
    }

    /* css Membros*/

    .headerMembros {
        padding-top: 210px;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .subtituloMembros {
        font-size: 18px;
        color: #217BF4;
    }

    .tituloMembros {
        font-size: 36px;
        color: #0A093D;
        margin: 0px;
    }

    .paragrafoMembros {
        font-size: 16px;
        color: #656464;
    }

    .botaoMembros {
        margin-top: 40px;
        width: 474px;
        height: 72px;
        background-color: #8BBAFA;
        border-radius: 14px;
        display: flex;
        align-items: center;
        justify-content: space-around;
    }

    .botaoM {
        border-radius: 14px;
        color: #2F2C4A;
        background-color: #8BBAFA;
        width: 150px;
        height: 56px;
        border: none;
        font-size: 16px;
    }

    .botaoM:hover {
        border-radius: 14px;
        color: #2F2C4A;
        background-color: #217BF4;
        width: 150px;
        height: 56px;
        border: none;
        font-size: 16px;
    }

    .perfisMembros {
        display: flex;
        padding-top: 100px;
        justify-content: space-between;
        width: 80vw;
    }

    .perfilMembros {
        width: 270px;
        height: 316px;
        border-radius: 14px;
        border: 2px solid rgba(243, 243, 243, 0.5);
        text-align: center;
        padding-top: 30px;
    }

    .imagemMembros {
        border-radius: 30px;
        width: 166px;
        height: 166px;
    }

    .nomeMembros {
        font-size: 24px;
        color: #2F2C4A;
    }

    .arrobaMembros {
        font-size: 16px;
        color: #656464;
        font-style: normal;
    }

    .perfilMembros:hover {
        width: 270px;
        height: 316px;
        border-radius: 14px;
        border: 2px solid rgba(243, 243, 243, 0.5);
        text-align: center;
        padding-top: 30px;
        box-shadow: 0px 34px 68px rgba(116, 115, 128, 0.1);
    }

    .sectionMembros {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    /*Carlos inicio*/

    #Carlos {
        display: flex;
        justify-content: center;
    }

    #publicidade {
        display: flex;
        background-color: #e5f0fd;
        align-items: center;
        justify-content: space-between;
        padding-left: 24.5rem;
    }


    .font__publicidade {
        font-family: 'Inter', sans-serif;
    }

    .pub-paragrafo {
        font-size: 16px;
        font-weight: 400;
        flex-wrap: wrap;
        text-align: justify;
        color: black;
        margin-top: 18px;
        margin-bottom: 36px;
        width: 341px;
    }

    .pub__titulo-1 {
        color: #217bf4;
        text-align: center;
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        margin-bottom: 10px;
        width: 200px;
    }

    .pub__titulo-1:hover {
        cursor: pointer;
        border-radius: 10px;
        background-color: #217BF4;
        color: white;
        padding-left: 10px;
    }

    .pub__titulo-2 {
        color: #0a093d;
        font-weight: 700;
        font-size: 36px;
        margin-bottom: 10px;
        margin-top: 18px;
        width: 351px;
    }

    .news__titulo-2 {
        font-size: 36px;
        color: black;
        text-align: center;
        margin-top: 10px;
        margin-bottom: 74px;

    }

    .news__titulo-1 {
        color: #217bf4;
        text-align: center;
        margin-top: 130px;
        margin-bottom: 0;
    }

    .pub__titulo-4 {
        font-size: 20px;
        font-weight: 600;
        width: 273px;
    }

    .news__img {
        width: 347px;
        border-radius: 20px;
    }

    .pub__titulo-5 {
        font-size: 16px;
        color: #656464;
    }

    .pub__img-apst {
        width: 147px;
    }

    .pub__img-apst:hover {
        cursor: pointer;
        width: 147px;
    }

    .pub__img-playstore {
        width: 145px;
    }

    .pub__img-playstore:hover {
        cursor: pointer;
        width: 145px;
    }

    .pub__organiza {
        display: flex;
        flex: 1;
        flex-direction: column;
        align-items: flex-start;
    }

    .pub__cell-phone {
        display: flex;
        height: 734.95px;
        width: 440.5px;
        position: static;
        margin-left: 0;
        margin-right: 400px;
        margin-bottom: 0;
    }

    .news__titulo {
        display: flex;
        flex-direction: column;
        align-items: center;
        font-family: 'Inter', sans-serif;
    }

    #last__news {
        background-color: white;
    }

    .news__img-organiza {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
    }

    .news__img-organiza-secao {
        display: flex;
        justify-content: space-around;
    }

    .news__line {
        margin-right: 0.5rem;
        margin-top: 2.3rem;
        justify-content: center;
        width: 39px;
        border-top: 2px solid #FFAF2E;
    }

    .news__line-organiza {
        display: flex;
    }

    
    /* INICIO FOOTER - LUAN  */


.tamanho-footer
{
    height: 485px;
    width: 100%; 
}

/*MAIN FOOTER*/

.main-footer
{
    height: 389px;
    width: 100%;
    background-color: #2b2b39;
    display: flex;
    align-items: center;
   
}

.main-footer-menu
{
    margin-left: 145px;
    width: 668px;
    height: 226px;
    display: flex;
    justify-content: space-between;
}

.main-footer-titulo
{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 20px;  
    color: #FFFFFF;
    margin-top: 0px;
}

.main-footer-txt
{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 46px;
    letter-spacing: 0.0125em;
    color: #E7E7E7;
    margin-top: 0px;
}

/*FOOTER RECEBA EMAIL/INSCREVA-SE*/
.footer-txt-receber-email
{
    margin-left: 145px;
    width: 339px;
    height: 300px;
}

.footer-txt-receber-email
{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 46px;
    letter-spacing: 0.0125em;
    color: #E7E7E7;
    margin-top: 0px;
}

.footer-txt-receber-email-1
{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 32px;
    color: #FFFFFF;
    margin-top: 0px;
}

.footer-txt-receber-email-2
{
    
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    color: #E7E7E7;
}

.footer-receber-email-input
{
    width: 339px;
    height: 48px;
    border: 1px solid rgba(255, 255, 255, 0.85);
    margin-top: 32px;
    border-radius: 12px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer-receber-email-campo-txt
{
    background: transparent;
    border: 0;
    margin-left: 24px;
    

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 12px;
    letter-spacing: 0.0125em;
    color: #717179;
}

/*STYLE BOTTON*/

.footer-receber-email-input-botton
{
    width: 126px;
    height: 48px;
    background: #FFFFFF;
    border-radius: 12px;
    border: solid #FFFFFF;
    padding: 0px;
    margin: 0px;
    cursor: pointer;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 16px;  
    text-align: center;
    color: #2B2B39;
}


/*FOOTER SECUNDÁRIO*/

.footer-sec
{
    height: 96px;
    width: 100%; 
    background-color: #20202d;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.footer-logo
{
    display: flex;
    align-items: center;
    gap: 6px;
}

.footer-icons
{
    margin: 4px;
    width: 36px;
    height: 36px;
}

.footer-sec-txt
{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
    color: #f6f6f6;
}

.footer-sec-txtlogo
{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 24px;
    color: #FFFFFF;
}

/* FIM DO FOOTER*/